@font-face
{
    font-family: Prime_Regular;
    src: url(Prime_Regular.otf);
}
@font-face
{
    font-family: Prime_Light;
    src: url(Prime_Light.otf);
}
body{
    background-color: #C0C0C0;
    text-align:center;
    background-image: url('../img/p7.png');
    background-repeat:repeat;
    font-family:Prime_Light;
    font-size: 12pt;
}

h3{
    font-family:Prime_Regular;
}

.icone{
    position:absolute;
    top: 25%;

}
.icones{
    display: inline-block;
    position:absolute;
    left:20%;
    z-index: 5000;
    top:20%;
}

.button {
    position: absolute;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    width:100px;

    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -50px;

}

.label1,.label2 {
    display: block;
    height: 100%;
    position: relative;
    top: 0%;
    transition: top 0.50s;
    width: 100%;
}
#footer{

    color:white;
    height: 20px;
    /*text-align: center;*/
    font-size:10px;
    font-family:Verdana;
    padding-top: 10px;
    width: 100%;
    position:fixed;
    left: 0px;
    bottom: 0px;
    background: #545454; /* Old browsers */
    background: -moz-linear-gradient(top,  #545454 0%, #0e0e0e 78%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(78%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #545454 0%,#0e0e0e 78%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #545454 0%,#0e0e0e 78%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #545454 0%,#0e0e0e 78%); /* IE10+ */
    background: linear-gradient(to bottom,  #545454 0%,#0e0e0e 78%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    border-top: 2px solid white;

}

.canivas{
    position:fixed;
    left:0px;
    top:0px
}

#pres{
    position : absolute;
    width : 200px;
    height:200px;
    background-color: white;
    font-size: 10pt;
    left:50%
}
#menu2{
    position : absolute;
    left:50px;
    top:35%;
}


#trans{
    position: fixed;
    left:0px;
    height:1000px;
    width: 0px;
    background-color: white;
    z-index: 9999;
}

.animat{
    animation: Wswitch 1.5s;
    -webkit-animation: Wswitch 1.5s; 
}

@keyframes Wswitch{
    0%   {
        width: 0px;
    }

    100%  {
         width: 100%;
    }
}

@-webkit-keyframes Wswitch{
0%   {width: 0px;}
100%  {width: 100%;}
} 

.animat2{
    animation: Wswitch2 1.5s;
    -webkit-animation: Wswitch2 1.5s; 
}

@keyframes Wswitch2{
    0%   {
        width: 100%;
    }

    100% {
        width: 0px;
    }
}

@-webkit-keyframes Wswitch2{
0%   {width: 100%;}
100% {width: 0px;}
} 

A:link {text-decoration: none;color:black;}
A:visited {text-decoration: none;color:black;}
A:active {text-decoration: none;color:black;}
A:hover {text-decoration: none;color:black;}

.googleback,.linkedback{
    height:170px;
    position:fixed;
    bottom:0px;
    right:0px;  
    z-index: 9900;
    opacity:0.2;
}

.google{
    position:fixed;
    bottom:5px;
    right:5px;  
    z-index: 9998;
}
.facebook{
    position:fixed;
    bottom:5px;
    right:70px;  
    z-index: 9998;
}
.linkedin{
    position:fixed;
    bottom:5px;
    right:140px;  
    z-index: 9998;
}
svg{
    position: absolute;
    top:30%;
    left:30%;
}
#bars {
    
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
   
  fill: white;
  fill-opacity: .9;
  stroke:#000;
  
}
.bar:hover {
  fill:red;
  fill-opacity: .5;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top:75%;
}
h3{
    position: absolute;
    top:25%;
    left:50%;
}

#cats{
    text-align: right;
    position: absolute;
    right:20px;
    top:22%;
    float:right;
    
}
ul{
   list-style-type: none; 
}

